@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  /*color: #ccc;*/
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  /*font-size: 1em;*/
  /*line-height: 1.5em;*/
  padding-top: 70px;
  background-color: #eee;
  padding-bottom: 50px;
}
