@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  /*color: #ccc;*/
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  /*font-size: 1em;*/
  /*line-height: 1.5em;*/
  padding-top: 70px;
  background-color: #eee;
}

.events {
  @extend .list-group;
}
.event {
  @extend .list-group-item;
}
.event.imported {
  background-color: #ddf3e7;
}
.event-name {
  font-weight: bold;
}
.event:hover .event-name:after {
  content: "\26A1";
}
.event-fb-id a {
  color: #3a5795;
  font-size: 0.8em;
}
.event-description {
  margin-top: 5px;
  white-space: pre-wrap;
}
.event.importing {
  opacity: 0.3;
  background-color: #fff !important;
}
