.event {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.event.imported {
  background-color: #ddf3e7;
}
.event.deleting {
  /*background-color: #ba2121;*/
}
.event.saving {
  opacity: 0.6;
}

.event-name {
  font-weight: bold;
}
.event:hover .event-name:after {
  content: "\26A1";
}
.event-fb-id a {
  /*color: #3a5795;*/
  color: #d33682;
  font-size: 0.7em;
}
.event-image {
  margin-top: 10px;
}
.event-small-info {
  margin-top: 10px;
  font-size: 0.8em;
}
.event-small-info div {
  padding-top: 2px;
  padding-bottom: 2px;
}
.event-description {
  margin-top: 5px;
  font-size: 11px;
  white-space: pre-wrap;
}

.show-description {
  padding-top: 5px;
}
.show-description a {
  color: black;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin-top: 5px;
}

/*.event.imported .hh {*/
  /*[>border-bottom: 1px solid #fff;<]*/
/*}*/

.event-header {
  padding: 10px 15px;
  /*background-color: #fdf6e3;*/
  /*border-bottom: 1px solid #eee;*/
}
.event-body {
  padding: 10px 15px;
}

.event-actions button {
  margin-left: 2px;
  margin-right: 2px;
}

/*** Sgobbo mesi e sto in miseria :D ***/
@media(min-width:992px){
  .event-actions {
    text-align: right;
  }
}
@media(max-width:992px){
  .event-actions {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*.event-actions {*/
  /*padding: 20px;*/
/*}*/
